@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  
  /* Neon Accents */
  --neon-cyan: #00f3ff;
  --neon-magenta: #ff00ff;
  --neon-amber: #ffbf00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-neon-cyan: var(--neon-cyan);
  --color-neon-magenta: var(--neon-magenta);
  --color-neon-amber: var(--neon-amber);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
